<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>My First Info Page</h1>
        <p>This is the info page</p>
        <h2>Bio</h2>
        <p>My bio</p>
        <img src="http://placekitten.com/500/800" alt="placeholder kitten">
    </body>
</html>
